
   <a href="/newpost"> 
        <button class="GFG"> 
            New Post 
        </button> 
    </a> 

<div>

  {{#each retPosts as |blog|}}

    <div class="card" style="width: 75%;">
      <div class="card-body">
        <h5 class="card-title">Post by: {{title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Created by:
          {{user.name}}
          on
          {{createdAt}}</h6>
        <p class="card-text">
          <div>
        <h3>{{text}}</h3>
          </div>
        </p>

  <button class="del-button" data-id="{{id}}">Delete Post</button>

  {{#if logged_in}}
             <a href="#" class="card-link">Comment</a>
       {{/if}} 

      </div>
    </div>
  {{/each}}

 <script src="./js/logout.js"></script>
 <script src="./js/delpost.js"></script>

</div>