
<div class="card" style="width: 75%;">
      <div class="card-body">
        <a href='/post/{{id}}'><h2 class="card-title">Post Title: {{post.title}}</h2></a>
        <h6 class="card-subtitle mb-2 text-muted">Created by:
          {{post.user.name}}
          on
          {{post.createdAt}}</h6>
        <p class="card-text">
          <div>
        <h3>{{post.text}}</h3>
          </div>
        </p>

        {{#if logged_in}}


        <label>New Comment</label>
        <input class="newcommenttext"></input>
        <button class="card-link newComment" data-id="{{post.id}}">Comment</button>

        {{else}}

        {{/if}}

      

<ul class="list-group">

    {{#each post.comments}}

    <li class="list-group-item>{{comment}}</li>

        {{/each}}

        
</ul>



</div>


