<div>

  {{#each retPosts as |blog|}}

    <div class="card" style="width: 75%;">
      <div class="card-body">
        <a href="/post/{{id}}"><h2 class="card-title">Post Title:
            {{title}}</h2></a>
        <h6 class="card-subtitle mb-2 text-muted">Created by:
          {{user.name}}
          on
          {{createdAt}}</h6>
        <p class="card-text">
          <div>
            <h3>{{text}}</h3>
          </div>
        </p>

        
   <h2>Comments</h2>
   <h4>Click Title to add</h4>
          <ul class="list-group">

            {{#each comments}}

                     <li class="list-group-item">
                <p>{{comment}}</p>
<p>Posted by: {{user.name}} at {{createdAt}} </p>

              </li>

            {{/each}}
          </ul>

      
    </div>
  {{/each}}

</div>